@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

/* Scrollbar (SaaS feel) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

/* Input global style */
input, textarea, select {
  outline: none;
}